*{
    font-family: 'Anek Telugu', sans-serif;
}
.body{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todo{
    justify-content: center;
    margin-top: 200px
}
.mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inputs{
    align-items: center;
    width: 200px;
    gap: 20px;
}
.btn{
    margin-top: 5px;
    background-color: #313131;
    color: white;
    justify-content: center;
}
.input{
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
.grupo{
    align-items: center;
    margin: 10px;
}

